In [1]:
# Importing the required libraries
import sklearn as sk
from sklearn import linear_model, metrics, model_selection
import pandas as pd

In [2]:
# load data
data = pd.read_csv("prices.csv")

In [3]:
# Print first five row
print("Part of the data")
data.head()

Part of the data

,Date,Low,Open,Volume,High,Close,Adjusted Close
0,18/11/1999,28.612303,32.546494,62546380,35.765381,31.473534,27.066582
1,19/11/1999,28.478184,30.713518,15234146,30.758226,28.880545,24.836662
2,22/11/1999,28.657009,29.551144,6577870,31.473534,31.473534,27.066582
3,23/11/1999,28.612303,30.400572,5975611,31.205294,28.612303,24.605980
4,24/11/1999,28.612303,28.701717,4843231,29.998213,29.372318,25.259573

In [4]:
# We search about any null values
print("The data have null values ?")
data.isnull().any().any()

The data have null values ?

False

In [5]:
x = data[['Low', 'Open', 'Volume', 'High']]  # features
y = data['Adjusted Close']  # target

In [6]:
# Part the data in part test ,part train
x_train, x_test, y_train, y_test = model_selection.train_test_split(
    x, y, test_size=.3, random_state=42)
print("The shapes of train and test")
x_train.shape, x_test.shape, y_train.shape, y_test.shape

The shapes of train and test

((4062, 4), (1742, 4), (4062,), (1742,))

In [7]:
#  Train model with regression
r = linear_model.LinearRegression()
r.fit(x_train, y_train)
y_predict = r.predict(x_test)

In [8]:
# Error
print("The error")
MSE_error = metrics.mean_squared_error(y_test, y_predict)
print(f"MSE :{MSE_error}")
MAE_error = metrics.mean_absolute_error(y_test, y_predict)
print(f"MAE :{MAE_error}")

The error
MSE :1.642531040255717
MAE :0.8018138627915431

In [9]:
# Pedict the stoke price of  next 6 month
print("Pedict the stoke price of  next 6 month:\n")
prediction_frame = pd.DataFrame(y_predict, columns=[" P_price"])
pediction = prediction_frame.iloc[0:180, :]
pediction

Pedict the stoke price of  next 6 month:

       P_price
0    14.865156
1    25.789164
2    39.934957
3    43.101579
4    74.064861
..         ...
175  38.550806
176  30.512822
177  30.510962
178  46.225223
179  25.198008

[180 rows x 1 columns]