In [9]:
# Importing the required libraries
import sklearn as sk
from sklearn import linear_model, metrics, model_selection
import pandas as pd

In [10]:
# load data
data = pd.read_csv("ParisHousing.csv")

In [11]:
# Print first five row
print("Part of the data\n")
data.head()

Part of the data

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0

In [12]:
# We search about any null values
print("The data have null values ?")
data.isnull().any().any()

The data have null values ?

False

In [13]:
x = data.drop('price', axis=1)  # features
y = data['price']  # target

In [14]:
# Part the data in part test ,part train
x_train, x_test, y_train, y_test = model_selection.train_test_split(
    x, y, test_size=.2, random_state=42)
print("The shapes of train and test")
x_train.shape, x_test.shape, y_train.shape, y_test.shape

The shapes of train and test

((8000, 16), (2000, 16), (8000,), (2000,))

In [15]:
#  Train model with regression
r = linear_model.LinearRegression()
r.fit(x_train, y_train)
y_predict = r.predict(x_test)

In [16]:
# Error
print("The error")
MSE_error = metrics.mean_squared_error(y_test, y_predict)
print(f"MSE :{MSE_error}")
RMSE_error = MSE_error ** 0.5
print(f"RMSE :{RMSE_error}")

The error
MSE :3695708.440618637
RMSE :1922.4225447644535